@font-face {
   font-family: 'Montserrat';
   src: url(fonts/montserrat-v25-latin_cyrillic-700.woff) format('woff2'), url(fonts/montserrat-v25-latin_cyrillic-700.woff2) format('woff2');
   src: url(fonts/montserrat-v25-latin_cyrillic-900.woff) format('woff2'), url(fonts/montserrat-v25-latin_cyrillic-regular.woff2) format('woff2');
   src: url(fonts/montserrat-v25-latin_cyrillic-regular.woff) format('woff2'), url(fonts/montserrat-v25-latin_cyrillic-regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Original Surfer';
  src: url(fonts/original-surfer-v18-latin-regular.woff) format('woff2'), url(fonts/original-surfer-v18-latin-regular.woff2) format('woff2');

}